body {
    width : 500px;
    margin-left: auto ;
    margin-right: auto ;
    background-color: white;
}
section {
    margin-bottom: 30px;
}

fieldset {
    width: 400px;
}

input{
    display: inline-block;
    width: 250px;
}
.gender {
    display: inline;
    width: 50px;
}

.btn {
    width : 120px;
    margin-right: 10px;
}