body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
ul.indexMenu{
    list-style: none; /*동그라미글머리표*/
    text-align: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding-top: 5px;
    padding-bottom: 5px;
}
.indexMenu li{
    display: inline; /*블럭단위 태그->인라인요소*/
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-right: 20px;
}
.indexMenu li a:link{
    text-decoration: none;
    color : black;
}
.indexMenu li a:visited{
    text-decoration: none;
    color : black;
}
.indexMenu li a:hover{
    /*text-decoration: underline;*/
    color: cornflowerblue;
    text-shadow: 1px 1px 1px grey;
}
.indexMenu li a:active{
    text-decoration: none;
}